.b-d-container {
  background-image: url("../../assets/images/becomeBroker.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1110px;
  height: 482px;
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    background-color: #2d69b3;
    mix-blend-mode: color;
    height: 100%;
    width: 100%;
  }
  .d-card {
    max-width: 350px;
    height: 100%;
    background-color: #2d69b3;
    position: relative;
    opacity: 0.9;
    overflow: hidden;
    &::before {
      background-image: url("../../assets/icons/bothkeys-white-1.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translateY(-15%);
      content: "";
      z-index: -1;
      @media screen and(max-width: 772px) {
        background-size: auto;
        transform: translateY(0);
        background-position: center;
      }
    }
    .b-g-start {
      display: block;
      text-decoration: none;
      background-color: white;
      color: #2d69b3;
      padding: 9px 32px;
      font-weight: 700;
      margin: 0 auto;
      text-align: center;
      @media screen and(max-width: 768px) {
        width: 100%;
      }
    }
    @media screen and(max-width: 768px) {
      margin: 0 auto !important;
      width: 90%;
      height: 90%;
    }
  }
  @media screen and(max-width: 768px) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
