.accordion-container {
  @media screen and(max-width: 992px) {
    max-width: 90%;
    margin: 0 auto;
  }
}

:global(.accordion-button) {
  color: #2d69b3 !important;
  font-weight: 700;
  font-family: "Baloo Chettan 2" !important;
  font-style: normal;
  font-size: 16px !important;
  line-height: 95.5%;
  &::after {
    background-image: url("../../../../assets/icons/accordion-arrow.svg") !important;
  }
  &:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
  }
}

.faq-radius {
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
