.ceo-image-container {
  max-width: 570px;
  max-height: 484px;
  display: block;
  @media screen and(min-width: 992px) and(max-width: 1280px) {
    margin-left: 3rem !important;
  }
}

.ceo-signature-container {
  max-width: 316px;
  max-height: 197px;
  img {
    width: 100%;
    height: auto;
  }
}

.ceo-intro-txt-container {
  @media screen and(max-width: 992px) {
    margin: 0 auto !important;
  }
}
