.btn-previous {
  background-color: white;
  font-weight: 900;
  line-height: 129%;
  text-align: center;
  border: 1px solid #2d69b3;
  border-radius: 5px;
  width: 160px;
  height: 41px;
}

.btn-next {
  background-color: #2d69b3;
  color: white;
  font-weight: 900;
  line-height: 129%;
  width: 160px;
  height: 41px;
  border-radius: 5px;
  border: 1px solid #2d69b3;
}
