.step-2-container {
  background-image: url("../../../../assets/images/step-2-bg-image.jpg");
  background-blend-mode: color, normal;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1110px;
  height: 291px;
  .step-2-p-txt {
    color: white;
  }
  .car-f-selects {
    border-radius: 8px;
    @media screen and(max-width: 992px) {
      width: 85%;
      margin: 0 auto;
    }
  }
  @media screen and(max-width: 992px) {
    background-size: cover;
  }
}

.booking-forms-down-arrow {
  background-image: url("../../../../assets/icons/down-arrow-step-2.svg") !important;
}
