.a-i-container {
  text-align: center;
  max-width: 445px;
  max-height: 298px;
  @media screen and(max-width: 542px) {
    min-width: 100%;
    min-height: 100%;
  }
  .about-image {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.a-btn {
  display: block;
  background-color: #2d69b3;
  font-weight: 900;
  padding: 9px 32px;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 43%;
  @media screen and(max-width: 768px) {
    width: 100% !important;
  }
}

.about-text-container {
  font-size: 16px;
  line-height: 24px;
}
