.footer-position-container {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding-top: -314px;
  .footer {
    min-height: 314px;
    background-image: url("../../assets/icons/pattern-2.svg");
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    background-color: #2d68b3;
    .footer-content {
      max-width: 254px;
      p {
        color: white;
        font-weight: 400;
      }
    }
    .footer-nav {
      color: white;
      text-decoration: none;
      @media screen and(max-width: 768px) {
        font-weight: 700 !important;
      }
    }
  }
}
